.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.counter {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 50px;
  font-size: 25px;
  color: red;
  font-weight: 600;
}

hr {
  border: 3px dotted red;
  margin: 50px;
}

.klikData {
  margin: 50px;
}
